<h2>Olá, <%= @user.first_name %> </h2>

<p>Obrigado por utilizar o iGeo! :)</p>

<%= link_to "Equipe iGeo", root_url %>

<style>
  a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  h2 {
    color: red;
  }
</style>
