<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pjfernandes/igeo"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lagef_uff/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://m.youtube.com/c/LAGEF/videos"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    iGeo <i class="far fa-copyright"></i>
  </div>
</div>
