<h2>Disciplinas</h2>

<% @subjects.each do |subject| %>
  <p>
    <%= link_to "#{subject.name}", subject_path(subject) %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Editar", edit_subject_path(subject) %>
    <% end %>
  </p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Nova disciplina", new_subject_path, class:"btn btn-danger mt-3 mb-2 ml-2" %>
<% end %>
