<h3 class="page-title mb-2"><i class="fa-solid fa-graduation-cap"></i> Disciplinas</h3>

<div class="cards text-center">
  <% @subjects.each do |subject| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path subject.photo.key, height: 300, crop: :fill %>')">
      <%=link_to "#{subject.name.capitalize}", subject_points_path(subject) %>
    </div>
  <% end %>
</div>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Nova disciplina", new_subject_path, class:"btn btn-primary text-white mt-3 mb-3" %>
<% end %>
