.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.card-category-no-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('estacao_total.jpg');
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card-category a {
  color: white;
  text-decoration: none;
}

.card-category a:hover {
  cursor: pointer;
  color: rgb(230, 225, 225);
}

.card-category a:active {
  cursor: pointer;
  color: orange;
}

// .card-category:hover{
//   font-size: 20px;
// }

.card-category-no-photo a {
  color: white;
  text-decoration: none;
}

.card-category-no-photo a:hover {
  cursor: pointer;
  color: rgb(230, 225, 225);
}

.card-category-no-photo a:active {
  cursor: pointer;
  color: orange;
}

// .card-category-no-photo:hover {
//   font-size: 20px;
// }

.edit-subject {
  position: relative;
  top: 50px;
  opacity: .7;
}

.edit-subject a:hover {
  cursor: pointer;
  color: lightblue;
}

.edit-subject a:active {
  cursor: pointer;
  color: orange;
}

.empty {
  border: dashed 1px lightgray;
  border-radius: 8px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
